<!DOCTYPE html>
<html lang="en">
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jane Kou">

    <title>Hoopster</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
   
    <link href='http://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Open+Sans' rel='stylesheet' type='text/css'> 


     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

     <%= javascript_include_tag('application') %>
     <%= stylesheet_link_tag "application" %>
 <script> 
$(document).ready(function(){
 $( ".go" ).animate({
  left: 50,
  opacity: 1
}, 500 );
});
</script> 
    
</head>

<body>

   <%= render(:partial => "navBar") %>

   <div class="col-md-12" style="background-color:#E60520; margin-top:-20px; background-img:url('/images/hoopstercourt.png'); background-size:100% 100%">
      <div class="col-md-4  white animated fadeInLeft" style="margin-top:50px; margin-left:20px;"><h3 style="font-size:25px;">Statistics has been an essential part of basketball. But they belong to the professional games right. Not any more.</h3></div>
      <div class="col-md-6 animated " style="height:600px; width:460px;margin-top:0px;margin-left:-200px; margin-right:auto;">
        <img src="/images/hoopstercourt.png" height="600"px width="760">
      </div>
       <div class="col-md-4 animated fadeInLeft" style="margin-top:400px; margin-left:100px;">
          <h3 class="white"style="font-size:25px;">Statistics has been an essential part of basketball. But they belong to the professional.</h3>
      </div>
    
  </div>

   <!-- intuitive control --> 
   <div class="col-md-12 " style="margin-top:150px;">
           <div class="perform visible-lg visible-md visible-sm"><h3 class="red">Your performance at your fingertips</h3>
           </div>

           <div class="perform visible-xs" style="font-size:25px;"><h4 class="red">Your performance at your fingertips</h4>
           </div>
          <!-- lg md -->
          <div class="col-md-12 visible-lg visible-md">

             <div class="col-md-6" style="text-align:center;">
                 <img src="/images/recordSystemFeature.png" alt="rss feed" height="860" width="420">
             </div>

             <!-- Record system description -->

             <div class="col-md-6" style="margin-top:100px; text-align:left; float:right" width="200px">
                <h3 class="red">
                  Intuitive Control
                </h3>
             </div>

             <div class="col-md-6" style="margin-top:25px; text-align:left; float:right" width="200px">
                <h4 class="black">
                  Super easy to use: every action on court takes less than 0.5 second to record. Lace up.
                </h4>
             </div>
           </div>

           <!-- sm  -->
          <div class="col-md-12 visible-sm">

             <!-- Record system description -->

             <div class="col-md-6" style="margin-top:100px; text-align:center;" width="200px">
                <h3 class="red">
                  Intuitive Control
                </h3>
             </div>

             <div class="col-md-6" style="margin-top:25px; text-align:center; margin-bottom:50px;" width="200px">
                <h4 class="black">
                  Super easy to use: every action on court takes less than 0.5 second to record. Lace up.
                </h4>
             </div>

             <!-- img -->
               <div class="col-md-6" style="text-align:center;">
                 <img src="/images/recordSystemFeature.png" alt="rss feed" height="750" width="360">
             </div>
           </div>

           <!-- xs -->

          <div class="visible-xs">

             <!-- Record system description -->

             <div  style="margin-top:50px; text-align:center; ">
                <h4 class="red">
                  Intuitive Control
                </h4>
             </div>

             <div  style="margin-top:25px; text-align:center;  margin-bottom:30px;">
                <h4 class="black">
                  Super easy to use: every action on court takes less than 0.5 second to record. Lace up.
                </h4>
             </div>

             <!-- img -->
             <div class="col-md-6" style="text-align:center;">
                 <img src="/images/recordSystemFeature.png" alt="rss feed" height="500" width="240">
             </div>
          </div>


    </div>

     <!--building teams -->
     <div class="col-md-12" style="margin-top:100px;">
       <!-- lg md-->
       <div class="col-md-12 visible-lg visible-md">

            <div class="col-md-6"  style="text-align:center; float:right; ">
               <img src="/images/createTeamFeature.png" alt="rss feed" height="860" width="420">
           </div>

            <div class="col-md-6" style="margin-top:150px; text-align:right; float:left" width="200px">
                <h3 class="red">
                  Building Teams
                </h3>
             </div>

            <div class="col-md-6" style="margin-top:25px; text-align:left; float:left" width="200px">
              <h4 class="black">
                  Easily add your friends to your teams. Play socially. (School kids, you are in luck)
              </h4>
            </div>

       </div>
       <!--  sm -->
       <div class="col-md-12 visible-sm">

             <!-- Team system description -->

             <div class="col-md-6" style="margin-top:100px; text-align:center;" width="200px">
                <h3 class="red">
                  Building Teams
                </h3>
             </div>

             <div class="col-md-6" style="margin-top:25px; text-align:center; margin-bottom:50px;" width="200px">
                <h4 class="black">
                  Easily add your friends to your teams. Play socially. (School kids, you are in luck)
                </h4>
             </div>

             <!-- img -->
               <div class="col-md-6" style="text-align:center;">
                 <img src="/images/createTeamFeature.png" alt="rss feed" height="750" width="360">
             </div>
           </div>

       <!-- xs -->  

       <div class="visible-xs">

             <!-- Record system description -->

             <div  style="margin-top:50px; text-align:center; ">
                <h4 class="red">
                  Building Teams
                </h4>
             </div>

             <div  style="margin-top:25px; text-align:center;  margin-bottom:30px;">
                <h4 class="black">
                  Easily add your friends to your teams. Play socially. (School kids, you are in luck)
                </h4>
             </div>

             <!-- img -->
             <div class="col-md-6" style="text-align:center;">
                 <img src="/images/createTeamFeature.png" alt="rss feed" height="500" width="240">
             </div>
      </div>



    </div>

     <!--building automatic -->
    <div class="col-md-12 " style="margin-top:100px;">
      <!-- lg md -->  
      <div class="col-md-12 visible-lg visible-md">

        <div class="col-md-6" style="text-align:center;">
            <img src="/images/syncFeature.png" alt="rss feed" height="860" width="420">
        </div>
                 
        <div class="col-md-6" style="margin-top:150px; text-align:left; float:right" width="200px">
            <h3 class="red">
                  Automatic Synchronization
            </h3>
        </div>

        <div class="col-md-6" style="margin-top:20px; text-align:left; float:right" width="200px">
            <h4 class="black">
                   Hoopster sends game stats to everyone on your game(player with Hoopster account) automatically when game is finished.
            </h4>
        </div>

      </div>

      <!--  sm -->
       <div class="col-md-12 visible-sm">

             <!-- Record system description -->

             <div class="col-md-6" style="margin-top:100px; text-align:center;" width="200px">
                <h3 class="red">
                   Automatic Synchronization
                </h3>
             </div>

             <div class="col-md-6" style="margin-top:25px; text-align:center; margin-bottom:50px;" width="200px">
                <h4 class="black">
                  Hoopster sends game stats to everyone on your game(player with Hoopster account) automatically when game is finished.
                </h4>
             </div>

             <!-- img -->
               <div class="col-md-6" style="text-align:center;">
                 <img src="/images/syncFeature.png" alt="rss feed" height="750" width="360">
             </div>
      </div>


      <!-- xs -->  

       <div class="visible-xs">

             <!-- Record system description -->

             <div  style="margin-top:50px; text-align:center; ">
                <h4 class="red">
                  Automatic Synchronization
                </h4>
             </div>

             <div  style="margin-top:25px; text-align:center;  margin-bottom:30px;">
                <h4 class="black">
                   Hoopster sends game stats to everyone on your game(player with Hoopster account) automatically when game is finished.
                </h4>
             </div>

             <!-- img -->
             <div class="col-md-6" style="text-align:center;">
                 <img src="/images/syncFeature.png" alt="rss feed" height="500" width="240">
             </div>
          </div>
    </div>

    <!-- mailing list -->

    <div class="col-md-12 visible-lg visible-md visible-sm">
      <div style="margin-top:200px; margin-left:auto; margin-right:auto; height:40px; width:100%; text-align:center; ">
        <h2 class="red">
          Love Hoopster. Be Hoopsters.
        </h2>
      </div>
      <div style="margin-top:50px;margin-left:auto; margin-right:auto; height:20px; width:100%; color:gray; text-align:center; font-size:22px; font-family: 'Roboto', cursive; ">
        <h4 class="black">Subscribe our mailing list for new features and updates</h4>
      </div>
      <div class="col-md-12" style=" margin-top:50px; margin-bottom:100px; margin-left:auto; margin-right:auto; height:100px; width:100%; text-align:center; ">
        <input class="emailInput h_blackFont" type="text" spellcheck="false" style="font-size:40px;background: transparent; border: none; border-bottom:1px solid; border-radius:0px;" placeholder="Email"></input>
        <img class="subscribe" src="/images/arrow.png" height="50" width="50" style=" margin-right:auto; cursor:pointer;">
      </div> 
    </div> 

   

    <!-- xs -->
     <div class="visible-xs" style="height:250px;">
      <div style="margin-top:100px; margin-left:auto; margin-right:auto; height:25px; width:100%; text-align:center; ">
        <h4 class="red">
          Love Hoopster. Be Hoopsters.
        </h4>
      </div>
      <div style="margin-top:20px;margin-left:auto; margin-right:auto; height:25px; width:100%; color:gray; text-align:center; font-size:20px; font-family: 'Roboto', cursive; ">
        <h5 class="black">Subscribe our mailing list for new features and updates</h5>
      </div>
      <div class="col-md-12" style="margin-top:50px; margin-bottom:100px; margin-left:auto; margin-right:auto; height:100px; width:100%; text-align:center; ">
        <input class="emailInput black" type="text" spellcheck="false" style="font-size:18px; background: transparent; border: none; border-bottom:1px solid; border-radius:0px;" placeholder="Email"></input>
        <img class="subscribe" src="/images/arrow.png" height="40" width="40" style=" margin-right:auto; cursor:pointer;">
      </div> 
    </div> 
  
  <%= render(:partial => "footer") %>
   
</body>

</html>
